.wrapper-products {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: $m-50;

    h2.title {
        margin-bottom: $s-3;
    }
}

.buttons {

    button.button {
        cursor: pointer;
        margin: 0 $s-2;
    }

}

.wrapper-card {
    flex-wrap: wrap;
    gap: 30px;
    width: $w-60;

    .card {
        flex-wrap: wrap;
        flex: 1 0 200px;

        img {
            width: 200px;
        }

        figcaption {

            p {
                margin: $m-10 0;
            }
        }
    }
}