.wrapper-products {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: $m-50;

    h2.title {
        margin-bottom: $s-3;
    }
}

.buttons {

    button.button {
        cursor: pointer;
        margin: 0 $s-2;
    }

}

.wrapper-card {
    display: grid;
    flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .card {
        height: auto;

        img {
            width: 100%;
        }

        figcaption {

            p {
                margin-block: $m-10;
            }
        }
    }
}