nav {
    background: $_white;
    box-shadow: 0 3px 5px rgba($color: $_black, $alpha: .10);
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu {
    ul {
        li {
            display: inline;
            margin: 0 $s-2;

            a {
                color: $_link;

                &:hover {
                    color: $_black;
                }
            }
        }
    }
}

.button {
    column-gap: $s-2;
    
    svg {
        width: 15px;
    }

    a, svg {
        transition: 1s ease-in-out;
    }

    &:hover a, &:hover svg {
        color: $_white;
        fill: $_white;
    }
}

.wrapper-button {
    column-gap: 10px;
    display: flex;
}

.wrapper-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}