nav {
    // background: $_white;
    // color: $_black;
    box-shadow: 0 3px 5px rgba($color: $_black, $alpha: .10);
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu {
    ul {
        li {
            display: inline;
            margin-inline: $s-2;
            position: relative;

            &::after {
                background: $_black;
                content: '';
                height: .09em;
                inset: 28px 0 0 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .25s ease;
                width: 100%;
            }

            &:hover::after {
                transform: scaleX(1);
            }

            a {
                color: $_link;

                &:hover {
                    color: $_black;
                }
            }
        }
    }
}

.button {
    column-gap: $s-2;
    
    svg {
        width: 15px;
    }

    :where(a, svg) {
        transition: 1s ease-in-out;
    }

    :where :hover(a, svg) {
        color: $_white;
        fill: $_white;
    }
    // &:hover a, &:hover svg {
    //     color: $_white;
    //     fill: $_white;
    // }
}

.wrapper-button {
    column-gap: 10px;
    display: flex;
}

.wrapper-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: min(50%, 1440px);
}