@use 'spaces-map' as s;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: $_black;
}

.btn {
    padding: s.$s-2;
}

// custom all button
.button {
    border-radius: s.$s-1;
    cursor: pointer;
    transition: .8s ease-in-out;

    &:hover {
        background: $_black;
        color: $_white;
    }
}

// display flex
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

//text-align
.txt-center {
    text-align: center;
}

//text-appercase
.txt-uppercase {
    text-transform: uppercase;
}

.txt-lighter {
    font-weight: lighter;
}

//column gap
.c-gap-20 {
    column-gap: 20px;
}


:root {
    color-scheme: dark light;
    color: $_black;
    background-color: $_white;
    h1, a{
        color: $_black;
    }
    svg {
        fill: $_black;
    }
    nav {
        background: $_white;
    }
}

@media(prefers-color-scheme: light) {
    :root {
        color: #fff;
        background-color: #212121;

        h1, a{
            color: $_black;
        }
        svg {
            fill: $_black;
        }
    
        nav {
            background: #212121;
        }
    }
}