@use 'spaces-map' as s;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: $_black;
}

.btn {
    background: transparent;
    padding: s.$s-2 s.$s-2;
}

// custom all button
.button {
    border-radius: s.$s-1;
    transition: .8s ease-in-out;

    &:hover {
        background: $_black;
        color: $_white;
    }
}

// display flex
.d-flex {
    display: flex;
}

//text-align
.txt-center {
    text-align: center;
}